*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-09-15-CollegeboardCreateTask.md
_posts/2022-09-15-Mentalhealth.md
_posts/2022-08-29-Markdown_Code-test copy.md
_posts/2022-08-29-Markdown_Code-test.md
_posts/2022-08-30-Bash-and-Checks.md
_posts/2022-08-30-Python-lists.md
_posts/2022-09-11-AppLabquiz.md
_posts/2022-09-25-PBLProject.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-03-PBLDesign.md
_posts/2022-10-09-SociologyQ.md
_posts/2022-10-10-Menu.md
_posts/2022-10-10-PBL-webapi_tutorial.md
_posts/2022-08-30-Fastpagesfrontend.md
_posts/2022-08-30-imgpost.md
_posts/2022-08-30-pythonquiz.md
_posts/2022-11-02-Menu.md
_posts/2022-11-03-SchedulerProgress.md
_posts/2022-09-20-uistarters.md
_posts/2022-11-09-MC.md
_posts/2022-11-09-SchedulerProgress.md
_posts/2022-11-14-AP-binary_logic.md
_posts/2022-11-15-Binarylogic.md
_posts/2022-11-14-firstdaynotes.md
_posts/2022-11-18-pykernel.md
_posts/2022-11-18-jskernel.md
_posts/2022-11-18-bashkernel.md
_posts/2022-11-17-SchedulerProgress.md
_posts/2022-11-17-Menu.md
_posts/2022-11-16-teachingplan.md
_posts/2022-11-18-lessonhacks.md
