<head>
    <title>Frontend</title>
    <link rel="stylesheet" href="./src/tablesort.js">
</head>


<body>
    <table id = "myTable" class="table table-sortable">
        <tr>
            <th>Blog</th>
            
        </tr>

        <tr>
            <th>Link</th> 
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/0">Tool Setup Sprint and Pair Programming</a></td>
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/1">Introduction to Python</a></td>
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/2">Data Abstraction in Python</a></td>
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/3">Creative Development Sprint</a></td>
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/4">Python Web Server Project</a></td>
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/5">UI Starters</a></td>
            <td><a href="https://nighthawkcoders.github.io/APCSP//week/6">Deployment</a></td>
        </tr>

    </table>
</body>