<style>
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #cccccc;
        padding: 8px;

    }

    th {
        font-weight: bold;
        text-transform: uppercase;
    }
    
</style>

<head>
    <title>Frontend</title>
    <link rel="stylesheet" href="./src/tablesort.js">
</head>


<body>
    <table>
        <thead>
            <tr>
                <th> Week: </th>
                <th> Blog: </th>
            </tr>
        </thead>

        <tbody id="tableData"> </tbody>
        
    </table>
</body>