
/*I NEED TO ORGANIZE LATER*/

/*IPHONE VIEW*/
@media(max-width: 700px){
    .text-box h1{
       font-size: 20px;
    }
    .nav-links ul li{
       display: block;
    }
 }
 /*iphone view*/
 @media(max-width: 700px){
    .text-box h1{
          font-size: 20px;
    }
    .nav-links ul li{
          display: block;
    }
 }
 
 /*Loading Screen*/
 .loading{
 background: rgb(242, 146, 183) no-repeat center center;
 background-size: cover;
 height: 100vh;
 width: 100vw;
 top: 0;
 left: 0;
 position: fixed;
 }
 
 *{
    margin: 0;
    padding: 0;
 /*can be applied to all of the html elements*/
 /*FIX THE FONT FAMILY TO THE REAL ONE OR CHOSEN ONE*/
    font-family: 'Poppins', sans-serif;
 /*the second part of the font from google!!*/
 }
 
 
 /*BACKGROUND colors and images*/
 .header{
    min-height: 10vh;
    width: 100%;
 /*linear gradient is how the background goes from the pink to the purple*/
    background-color: #F0B9C5;
    background-position: center;
    background-size: cover;
    position: relative;
 }
 
 .index-header{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 360px;
 /*linear gradient is how the background goes from the pink to the purple*/
    background-image: linear-gradient(#F0B9C5,#C48FC1);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
 }
 
 /*this will align the different buttons (home, inventory, ect.)*/
 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
 }
 nav img{
    width: 150px;
 }
 /*fixing the size of the logo*/
 .nav-links{
    flex: 1;
    text-align: right;
 }
 /*the ul and li are basically the list/buttons on the top of the page*/
 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 /*color and removing the underlining of buttons aka the animation :)*/
 .nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
 }
 /*underline for the buttons*/
 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #6E70AC;
    display: block;
    margin: auto;
    transition: 0.5s;
 }
 /*the button underline is only seen with cursor on it*/
 .nav-links ul li:hover::after{
    width: 100%;
 }
 /*to make the text into the center of the website*/
 
 /*buttons*/
 .team{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 .team1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
 }
 
 h1{
    font-size: 60px;
    font-weight: 600;
 }
 p{
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    padding: 10px;
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
 }
 
 /*box around descriptions*/
 .team-col{
    flex-basis: 23%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
 }
 /*hover effect*/
 .team-col:hover{
    box-shadow: 0 0 20px rgba(89, 0, 255, 0.2);
 /*dropdown menu for javascript*/
 }
 li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
 }
 
 li.dropdown {
    display: inline-block;
 }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: pink;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: pink;
 }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  button {
     background-color: #7DDBEE;
     font-family: 'Ubuntu';
     font-weight: bold;
     font-size: 40px;
     color: rgb(110, 112, 172);
     border-radius: 80px;
     border-width: 4px;
     width: 800px;
   }