$circle-size: 50px;
$circle-color: rgb(46, 128, 204);

.circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  background-color: $circle-color;
  animation: rotate 2s linear infinite;
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}